dl {
  margin-top: 0;
  margin-bottom: 15px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal dt {
  float: left;
  width: 70px;
  clear: left;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 90px;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}

.dl-horizontal dd:after {
  clear: both;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure {
    margin: 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    display: inline;
}

.sidebar-about h1 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

code {
    word-break: break-word;
}
