<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        {{ site.title }}
        </span>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <!-- <p class="lead" style="">
        <a href="/hire-me/">
          Hire me for your next project &rarr;
        </a>
    </p> -->

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null and node.title != "Hire Me" and node.title != "A Guide To OAuth 2.0 Grants" %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <li class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}">
        <a href="/tag/podcast/">Podcast Appearances</a>
      </li>

      {% assign tags_list = site.data.tags %}
      {% for node in tags_list %}
        {% if node[1].sidebar != nil %}
          <li class="sidebar-nav-item">
            <a href="/tag/{{ node[0] }}/">{{ node[1].sidebar_name }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <li class="sidebar-nav-item">
        <a href="/rss.xml">
            RSS Feed
        </a>
      </li>
      <li class="sidebar-nav-item">
        <a href="https://twitter.com/alexbilbie">
            Twitter
        </a>
      </li>
      <li class="sidebar-nav-item">
        <a href="https://github.com/alexbilbie">
            Github
        </a>
      </li>
      <li class="sidebar-nav-item">
        <a style="display:none" href="https://plus.google.com/106902288334016085614?rel=author">
            Google+
        </a>
      </li>

    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
