<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} &middot; Alex Bilbie</title>
        <meta name="description" content="The blog of Alex Bilbie: developer, whisky fan and thinker">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body itemscope itemtype="http://schema.org/Blog">

        <header id="header">
            <div class="container">

                <h1>
                    <a href="/" itemprop="url">
                        <span itemprop="name">alexbilbie.com</span>
                    </a>
                </h1>

                <p>
                    The blog of <a href="/about" itemprop="author">Alex Bilbie</a>: developer, whisky fan and thinker
                </p>
                <p>
                    <a href="/atom.xml">
                        RSS
                    </a>
                    &middot;
                    <a href="https://twitter.com/alexbilbie">
                        Twitter
                    </a>
                    &middot;
                    <a href="https://github.com/alexbilbie">
                        Github
                    </a>
            </div>
        </header>

        <section class="container">

            {{ content }}

        </section>

        <footer id="footer">
            <div class="container">
                <p>
                    &copy;
                    <span itemprop="copyrightHolder" itemprop="http://schema.org/Person">
                        <span itemprop="name">Alex Bilbie</span>
                    </span>
                    <span itemprop="copyrightYear">
                        2012
                    </span>
                    &middot;
                    <a href="https://twitter.com/alexbilbie">Follow me on Twitter</a>
                </p>
            </div>
        </footer>

        <script>
            var _gaq=[['_setAccount','UA-30910620-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>