<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} &middot; The blog of Alex Bilbie</title>
        <meta name="description" content="{{ content | strip_html | escape_once | strip_newlines | truncate:500 }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@alexbilbie">
        <meta name="twitter:title" content="{{ page.title }} &middot; The blog of Alex Bilbie">
        <meta name="twitter:description" content="{{ content | strip_html | escape_once | strip_newlines | truncate:199 }}">
        <meta name="twitter:creator" content="@alexbilbie">
        <meta name="twitter:domain" content="alexbilbie.com">
        <meta name="twitter:image:src" content="https://2.gravatar.com/avatar/14902eb1dac66b8458ebbb481d80f0a3?s=100">
        <meta name="og:title" content="{{ page.title }} &middot; The blog of Alex Bilbie">
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="https://2.gravatar.com/avatar/14902eb1dac66b8458ebbb481d80f0a3?s=100" />
        <meta name="viewport" content="width=device-width">
        <link rel="alternate" type="application/rss+xml" title="RSS feed for alexbilbie.com" href="/rss.xml" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900|Karla:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css?v2">
    </head>
    <body itemscope itemtype="http://schema.org/Blog">

        <header id="header">
            <div class="container">

                <div class="row">

                    <hgroup class="col-md-4">

                        <h1>
                            <a href="/" itemprop="url">
                                <span itemprop="name">Alex Bilbie</span>
                            </a>
                        </h1>

                    </hgroup>

                    <nav class="col-md-8">

                        <a href="/archive/">
                            Blog Archive
                        </a>

                        <a href="/rss.xml">
                            RSS Feed
                        </a>

                        <a href="https://twitter.com/alexbilbie">
                            Twitter
                        </a>

                        <a href="https://github.com/alexbilbie">
                            Github
                        </a>

                        <a style="display:none" href="https://plus.google.com/106902288334016085614?rel=author">
                            Google+
                        </a>

                     </nav>
                 </div>
            </div>
        </header>

        <section class="container">

            {{ content }}

        </section>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            &copy;
                            <span itemprop="copyrightHolder" itemprop="http://schema.org/Person">
                                <span itemprop="name">Alex Bilbie</span>
                            </span>
                            <span itemprop="copyrightYear">
                                2013
                            </span>
                            &middot;
                            <a href="https://twitter.com/alexbilbie">Follow me on Twitter</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="/js/rainbow.js" async></script>
        <script>
            var _gaq=[['_setAccount','UA-3113781-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            g.async=true; s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>