---
layout: layout
---

<article data-layout="post" itemtype="http://schema.org/BlogPosting">

	<h1 itemprop="name">
		{{ page.title }}
	</h1>

	<aside>
		<p>
			<span>
				{{ page.date | date: "%e %B %Y" }}
			</span>
			&middot;
			<a href="{{ page.url }}" itemprop="url">
				∞
			</a>

			<meta itemprop="author" content="Alex Bilbie">
			<meta itemprop="dateCreated" content="{{ page.date | date: "%Y-%m-%d" }}">
		</p>
	</aside>

	<span itemprop="text">

		{{ content }}

	</span>

	<hr>

	<h1>Comments</h1>

	<div id="disqus_thread"></div>
	<script type="text/javascript">
	var disqus_shortname = 'alexbilbie';
	var disqus_identifier = '{{ page.url }}';
	(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
	</script>
	<noscript>
		<p>
			Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</p>
	</noscript>

</article>