---
layout: default
---

<div class="post" itemscope itemtype="http://schema.org/Article">
  <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
  <meta itemprop="url" content="{{ page.url }}" />
  <span class="post-date" itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</span>
  
  <div itemprop="articleBody">
  {{ content }}
  </div>

  {% if page.tags contains "oauth" %}
    <hr>
    <h3 style="margin-top: 2em">OAuth and API Consultation</h3>
    <p>
      If you'd like to hire me to help out with your OAuth or API implementation, or would like some advice or training for you and your team please email me at <a href="mailto:hello@glyndelabs.com">hello@glyndelabs.com</a>.
    </p>
  {% endif %}
</div>

<div class="related">
  <h2>Other posts you might like</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>

          {% if post.link %}
            <a href="{{ post.link }}">
              {{ post.title }} &rarr;
              <small>{{ post.date | date_to_string }}</small>
            </a>
          {% else %}
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          {% endif %}

        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
